body {
  font-family: "Times New Roman", sans-serif;
  font-size: 20px;
  /*background-color:  #DCDCDC;*/
}

a {
  text-decoration: none;
  color:  #8B4513;
}

a:hover {
  color:  #006400;
  text-decoration: underline;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.img_con {
  height: 250px;
}

.FIO {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.vacation {
  font-size: 25px;
  text-decoration: underline;
}

.left-side-text {
  text-align: left;
}