body {
  font-family: "Lobster";
  font-size: 30px;
  line-height: 30px;
  background-color: #0f2b6c;
  color: #feceff;
}

a {
  text-decoration: none;
}

.page-header-logo {
  border-radius: 50%;
}

.avatar {
  float: right;
  margin-left: 24px;
}

.navigation-link,
.contacts-link {
  font-family: "Times New Roman", cursive;
  line-height: 20px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.navigation-link {
  text-transform: uppercase;
}

.exp-job {
  text-decoration: none;
  color: #feceff;
}

.exp-job:hover {
  color: #dbfafc;
}

.exp-job:visited {
  color: inherit;
}

.skills dd {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;

  background-color: darkred;
  width: 49%;
}

.skills-level {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #2e67d0;
}

.skills-level-ok {
  background-color: green;
}

.contacts-vk {
  background-image: url("./images/svg/vk.svg");
  background-repeat: no-repeat;
  padding-top: 65px;
}

.contacts-wa {
  background-image: url("../images/svg/whatsapp.svg");
  background-repeat: no-repeat;
}

.contacts-tlg {
  background-image: url("../images/svg/telegram.svg");
  background-repeat: no-repeat;
}

.navigation-list,
.soft-skills-list {
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}