@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  background-color: #0f2b6c;
  color: #feceff;
}

.page-header-logo {
  border-radius: 50%;
}

.avatar {
  float: right;
  margin-left: 24px;
}

.navigation-link,
.contacts-link {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 20px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.navigation-link {
  text-transform: uppercase;
}
